@import url('https://fonts.googleapis.com/css?family=Bungee');

html {
  background: url(Bay.jpg) no-repeat center center; 
  background-position: 0px -80px;
  background-size: cover;
}

p {
  visibility: hidden;
}
body {
  background: transparent;
  padding-top: 1rem;
}
h1 {
  float: right;
  margin-top: 0.75rem;
  font-family: 'Bungee', cursive;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff,
               0 0 30px #fff,
               0 0 40px #62e6ff,
               0 0 70px #62e6ff,
               0 0 80px #62e6ff,
               0 0 100px #209ab2,
               0 0 150px #209ab2;
}
h1 small {
  color: black;
  font-size: 60%;
  text-shadow: none;
}
.banner {
  position: absolute;
}
.banner img {
  height: 100px;
}

#submitBtn{
  margin-left: .5rem;
  background:    #4393db;
  background:    linear-gradient(red, orange 50%, red);
  border:        2px solid black;
  border-radius: 50%;
  padding:       6px 20px;
  transition-duration: 0.6s;
}

#submitBtn:hover {
  border-radius: 10%;
}

#filterBtn{
  margin-left: .5rem;
  background:    #4393db;
  background:    linear-gradient(orange, red 50%, orange);
  border:        2px solid black;
  border-radius: 50%;
  line-height: 37.65px; 
  padding:       0px 20px;
  transition-duration: 0.6s;
}

#filterBtn:hover {
  border-radius: 10%;
}

.edit {
  float: left;
}

.list-container {
  background-color: whitesmoke;
}

#flick-list {
  margin-bottom: 0;
}
.template {
  display: none;
}

.flick.fav {
  background-image: linear-gradient(to right, orange, red);
}

.flick-name {
  padding: 0 0.5rem;
}

.flick {
  background-image: linear-gradient(to right,#2272ff, #005288);
  padding: 4px 0px 4px 4px;
  margin-top: -2px;
  margin-bottom: -2px;
}

.flick .actions.button-group {
  margin-bottom: 0;
}